.vs/BloodBankITI/v14/.suo
.vs/BloodBankITI/v14/.suo
BloodBankITI/bin/BloodBankITI.dll
BloodBankITI.v12.suo
BloodBankITI.v12.suo
BloodBankITI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BloodBankService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache