@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4 style="font-family:'Myriad عربي';"> الإحصائيات</h4>
    <hr />
    <center>
        @Html.ActionLink("عرض الإحصائيات الكلية", "AllStatistics", null, new { @class = "btn waves-effect waves-light red darken-4" })
        @Html.ActionLink("عرض إحصائيات اليوم", "TodayStatistics", null, new { @class = "btn waves-effect waves-light red darken-4" })
    </center>
    <div style="margin-bottom:120px;"></div>

</div>