@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">

    <div class="container white z-depth-2">
        <div class="card-panel #b71c1c red darken-4"><h5>أضف مشرف جديد</h5>  </div>
       
        <div id="register" class="col s12">
            <form class="col s12" action="" method="post">
                <div class="form-container">
                        <div class="row">
                        <div class="input-field col s12">
                            <input id="last_name" name="Fname" type="text" class="validate" style="text-align:right;">
                            <label class="right-align" for="first_name">الاسم الاول</label>
                        </div>
                      </div>
                        <div class="row">
                        <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate" name="Lname" style="text-align:right">
                            <label class="right-align" for="last_name">الاسم الثانى  </label>
                        </div>
                    </div> 
                        <div class="row">
                            <div class="input-field col s12">
                                <input  type="text" class="validate" name="Username" style="text-align:right">
                                <label class="right-align" for="email">اسم المستخدم  </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input  type="password" class="validate" name="Password" style="text-align:right;">
                                <label class="right-align" for="phone">رمز الدخول </label>
                            </div>
                        </div>
                     
                        <center>
                            @Html.ActionLink("إالغاء", "AdminsView", null, new { @class = "btn waves-effect waves-light red darken-4" })
                            <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">إضافة</button>
                         </center>
              </div>          
            </form>
        </div>
    </div>
    </div>