@model System.Collections.Generic.List<BloodBankITI.Models.Admins_selectt_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4 style="font-family:'Myriad عربي';">المشرفون</h4>
    <div class="table-responsive">
        <table class="table table-striped" style="background-color:wheat;margin-right:inherit; width:800px;">
            <tr>
                <th></th>
                <th style="text-align:right; font-size:25px;color:firebrick; font-family:'Myriad عربي'">الإسم</th>
            </tr>

            @foreach (var a in Model)
            {
                <tr>
                    <td>@Html.ActionLink("حذف", "AdminDelete", new { id = a.AID })</td>
                    <td>@(a.Fname + " " + a.Lname) </td>

                </tr>
            }

        </table>
        </div>
        <center>
            <a href="http://localhost:7508/Admin/Index"><button class="btn waves-effect waves-light red darken-4" type="reset" name="action">الرجوع للرئيسية</button></a>
            <a href="http://localhost:7508/Admin/AdminInsert"><button class="btn waves-effect waves-light red darken-4" type="submit" name="action">إضافة</button></a>


        </center>

        @*@Html.ActionLink("Insert New Admin", "AdminInsert") <br />
            @Html.ActionLink("Back To Home", "Index")*@
    </div>
