@model IEnumerable<BloodBankITI.Models.Select_BloodTypes_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Blood Types</h2>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Type</th>
        <th></th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.Type</td>
            <td>@Html.ActionLink("Edit", "BloodTypesEdit", new {id = b.BID})</td>
        </tr>
    }
</table>

@Html.ActionLink("Insert New", "BloodTypesInsert")
