@model BloodBankITI.Models.BloodTypeSelectByID_Result

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Update a blood type</h2>

<form action="" method="POST">
    <input type="hidden" value=@Model.BID name="BloodType.BID"/>
    Type: <input type="text" value=@Model.Type name="BloodType.Type"/><br/>
    <input type="submit" value="Edit"/>
</form>
