@model IEnumerable<BloodBankITI.Models.Select_BloodTypes_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Blood Types</h2>
<br />
<br />
<br />
<br />
<br />
<br />
    <br/>
    @foreach (var b in Model)
    {
        @Html.ActionLink(@b.Type, "DonorsByBID", new {bid = @b.BID})<br/>
       // <img src="../../img/BloodTypes/A+.png" />
        <img src=@b.Logo height="50" width="50" />

    }

@Html.ActionLink("Back to Home", "Index")
