@model IEnumerable<BloodBankITI.Models.Select_BloodTypes_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
   
    <h2>Blood Types</h2>
    @*<table class="table table-bordered table-striped table-hover">
        <tr>
            <h2>Type</h2>
        </tr>*@
        @foreach (var b in Model)
        {
                <p>@b.Type</p>
        }
    @*</table>*@

    @Html.ActionLink("Back to Home", "Index")
</div>