@using System.Web.Mvc
@model IEnumerable<BloodBankITI.Models.Select_BloodTypes_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render" style="width:1200px;margin-top:50px;">
    <h4 style="font-size:35px; color:black; font-family:'Myriad عربي'; text-align:right;margin-top:80px;margin-right:130px;"> فصائل الدم</h4>
        <hr />
        
    
        @foreach (var b in Model)
        {
            
                @*@Html.ActionLink(@b.Type, "DonorsByBID", new { bid = @b.BID })<br />*@
                <a href='/Admin/DonorsByBID/@b.BID'><center><img src=@b.Logo width="300" height="300" style="float:left; display:inline;"/> </center></a>
               
        }
     
    <br />
        <p style="text-align: center;margin-top:650px;">
            @Html.ActionLink("العودة للوحة التحكم", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>

</div>