@model IEnumerable<BloodBankITI.Models.CitiesLocations>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Cities</h2>

@foreach (var city in Model)
{
    <h2>@city.city.CityName</h2>
    foreach (var loc in city.locations)
    {
        <p>
            @loc.LocationName        
        </p>
    }

    @Html.ActionLink("Insert New Location", "InsertLocation", new {CID = city.city.CID})
}

<br/>@Html.ActionLink("Insert New City","InsertCity")