@model BloodBankITI.Models.HospitalsCity
@{
    ViewBag.Title = "HospitalsEdit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render" style="margin-top:33px; height:850px;">
    <div class="container white z-depth-2" style="height:800px;">
        <div class="card-panel #b71c1c red darken-4">
            <h5>تعديل المستشفى</h5>
        </div>

        <div id="register" class="col s12" style="margin-top: -31px;">
            <form class="col s12" action="" method="post">
                <div class="row" dir="rtl">
                    <div class="input-field col s12">

                        <input type="hidden" value=@Model.Hospital.HID name="Hospital.HID" />
                    </div>
                </div>


                <div class="row" dir="rtl">
                    <div class="input-field col s12">
                        <p style="font-family:'Myriad عربي';font-size:20px; float:right;">الإسم </p>
                        <input type="text" value=@Model.Hospital.Name name="Hospital.Name" />
                    </div>
                </div>

                <div class="row" dir="rtl">
                    <div class="input-field col s12">
                        <p style="font-family:'Myriad عربي';font-size:20px; float:right;">التليفون</p>
                        <input type="text" value=@Model.Hospital.Phone name="Hospital.Phone" />
                    </div>
                </div>

                <div class="row" dir="rtl">
                    <div class="input-field col s12">
                        <p style="font-family:'Myriad عربي';font-size:20px; float:right;">العنوان</p>
                        <input type="text" value=@Model.Hospital.Address name="Hospital.Address" />
                    </div>
                </div>

                <div class="row" dir="rtl">
                    <div class="input-field col s12">
                        <p style="font-family:'Myriad عربي';font-size:20px; float:right;">المدينة</p>

                        <select name="Hospital.CID" class="mdl-select__input">
                            <option value="null">اختر مدينة</option>
                            @foreach (var item in Model.CitiesSelectAllResults)
                            {
                                if (item.CID == Model.Hospital.CID)
                                {
                                    <option selected="" value=@item.CID>@item.CityName</option>
                                }
                                else
                                {
                                    <option value=@item.CID>@item.CityName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <br /><br />
                <center>
                      @Html.ActionLink("إلغاء", "Hospitals", null, new { @class = "btn waves-effect waves-light red darken-4" })

                    <input type="submit" value="حفظ" class="btn waves-effect waves-light red darken-4 " />
                </center>
                    </form>

        </div>
    </div>
    </div>