@model BloodBankITI.Models.PartnerCities
@{
    ViewBag.Title = "PartnersEdit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <div class="container white z-depth-5">
        <div class="card-panel red darken-4"><h5>تعديل معلومات الشركاء</h5></div>
        <div id="register" class="col s12">
            <form class="col s12" action="" method="post" novalidate="novalidate">
                <div class="form-container">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="hidden" class="validate" name="Partner.PAID" value=@Model.partnersSelectResult.PAID style="text-align:right">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="Partner.Name" value=@Model.partnersSelectResult.Name style="text-align:right;">
                            <label class="right-align" for="Partner.Name">الاسم </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="Partner.Address" value=@Model.partnersSelectResult.Address style="text-align:right;">
                            <label class="right-align" for="Partner.Address">العنوان</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                <label class="right-align" for="Message" style="text-align:right; width:460px;">الحالة</label>
                            </div>


                            <div dir="rtl">
                                <select class="mdl-select__input" id="professsion" name="Partner.Status">
                                    @if (@Model.partnersSelectResult.Status == true)
                                    {
                                        <option selected value="true">True</option>
                                        <option value="false"> False </option>
                                    }
                                    else
                                    {
                                        <option value="true">True</option>
                                        <option selected value="false"> False </option>
                                    }

                                </select>
                            </div>
                        </div>
                   </div>

                    <center>
                        @Html.ActionLink("إلغاء", "Partners", null, new { @class = "btn waves-effect waves-light red darken-4" })
                        <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">موافق</button>
                    </center>   
                    </div>
            </form>
           
        </div>       
    </div>
</div>


