@model BloodBankITI.Models.UserType
@{
    ViewBag.Title = "UserTypesInsert";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h2>Insert New Users</h2>
<br /> <br /> <br /> <br /> <br /> <br />

<form action="" method="POST">
    <div class="form-group">
        User Type <input type="text" name="UserType.Type" />
    </div>
    
    <input type="submit" value="Insert" />
</form>

@Html.ActionLink("Cancel", "UserTypesView")
