@model BloodBankITI.Models.UserType_select_Result
@{
    ViewBag.Title = "UserTypesEdit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<head>
    <link href="~/Content/materialize.css" rel="stylesheet" />
</head>
<div class="render">
    <h4 >تعديل نوع المستخدم </h4>
    <hr />
    <form class="col s12" action="" method="post" novalidate="novalidate">
        <div class="form-container">
            <div class="row">
                <div class="input-field col s6">
                    <input type="hidden" name="UserType.UTID" value=@Model.UTID />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="UserType.Type" value=@Model.Type>
                    <label class="right-align"> نوع المستخدم  </label>
                </div>
            </div>
           
            <center>
                @Html.ActionLink("إالغاء", "UserTypesView", null, new { @class = "btn waves-effect waves-light red darken-4" })
                <button class="btn waves-effect waves-light red darken-4" type="submit">تعديل </button>

            </center>
        </div>
    </form>
</div>


