
@{
    ViewBag.Title = "UserTypesInsert";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h2>Insert New Users</h2>

<form action="" method="POST">
    <div class="form-group">
        First Name: <input type="text" name="Admin.Fname" />
    </div>
    <div class="form-group">
        Last Name: <input type="text" name="Admin.Lname" />
    </div>
    <div class="form-group">
        UserName: <input type="text" name="Login.Username" />
    </div>
    <div class="form-group">
        Password: <input type="text" name="Login.Password" />
    </div>

    <input type="submit" value="Insert" />
</form>

@Html.ActionLink("Cancel", "UserTypesView")
