@{
    ViewBag.Title = "UserTypesInsert";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<head>
    <link href="~/Content/materialize.css" rel="stylesheet" />
</head>

<div class="render">
    <div class="container white z-depth-2">
        <div class="card-panel #b71c1c red darken-4"><h5 style="color:aliceblue;text-align:center;font-family:'Myriad عربي';">إضاف نوع مستخدم جديد</h5>  </div>
        <form class="col s12" action="" method="post"  style="height:auto;">
            <div class="form-container">
                <div class="row">
                    <div class="input-field col s12">
                        <input  type="text" name="UserType.Type" class="validate" style="text-align:left">
                        <label class="right-align" for="last_name"> النوع   </label>
                    </div>
                </div>
                <center>
                    @Html.ActionLink("إلغاء", "UserTypesView", null, new { @class = "btn waves-effect waves-light red darken-4" })
                    <button class="btn waves-effect waves-light red darken-4" type="submit">إضافة </button>
                </center>
            </div>
        </form>
      

        </div>
   
    </div>