
@{
    ViewBag.Title = "team-members";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!-- Compiled and minified CSS -->
<link href="~/Content/materialize.css" rel="stylesheet" />
<!-- Compiled and minified JavaScript -->
@*<script src="~/Scripts/materialize/materialize.min.js"></script>*@
<br /><br /><br />
@if (Session["UserId"] == null && Session["UserName"] == null)
            {
    <form style="margin-left:10px; margin-top:-35px;">
        <a href="/Login/Index" style="text-decoration:none;">
            <img src="~/img/signin.png" height="30" width="30" title="تسجيل الدخول" />

        </a>
        &nbsp;
        <a href="/Home/Register" style="text-decoration:none;">
            <img src="~/img/add-user.png" height="35" width="35" title="إنشاء حساب" />

        </a>
    </form>
}
else
{
    switch (Session["UserType"].ToString())
    {
        case "1":

            <a href="/home/logout" class="user" style="text-decoration:none;color:black;font-size:20px;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/admin/index" class="user" style="text-decoration:none;color:black;font-size:20px;">
                @(Session["Fname"] + " " + Session["Lname"])
            </a>
            break;
        case "2":
            <a href="/home/logout" class="user" style="text-decoration:none;color:black;font-size:20px;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" style="left:25%;position:relative;" />
            </a>
            <a href="/donor/Index" class="user" style="text-decoration:none;color:black;font-size:20px;">
                @(Session["Fname"] + " " + Session["Lname"])
            </a>
            break;
        case "3":

            <a href="/home/logout" class="user" style="text-decoration:none;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/ngo/index" class="user" style="text-decoration:none;color:black;font-size:20px;">   @(Session["Fname"])  </a>

            break;
        case "4":

            <a href="/home/logout" class="user" style="text-decoration:none;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/partner/index" class="user" style="text-decoration:none;color:black;font-size:20px;"> @(Session["Fname"]) </a>

            break;
    }
}
<table>
    <tr>
        <th style="color:black;font-family:'Myriad عربي';">متبرع</th>
        <th style="color:black;font-family:'Myriad عربي';"> محتاج دم</th>
        <th style="color:black;font-family:'Myriad عربي';"> جمعية خيرية</th>
    </tr>
    <tr>
        
        <td>
            <a href="~/img/donorr.jpg" target="_blank"><img src="~/img/donorr.jpg" width="410" height="300" style="border:1px solid #808080;" /></a>
        </td>
        <td>
            <a href="~/img/Needer .jpg" target="_blank"><img src="~/img/Needer .jpg" width="410" height="300" style="border:1px solid #808080;" /></a>
        </td>
        <td>
            <a href="~/img/NGO  design.jpg" target="_blank"><img src="~/img/NGO  design.jpg" width="410" height="300" style="border:1px solid #808080;" /></a>
        </td>
</tr>
</table>
