@model BloodBankITI.Models.donorinsertform
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<!-- Compiled and minified CSS -->
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">

    <div class="container white z-depth-2" style="height:auto;">
        <div class="card-panel #b71c1c red darken-4"><h5>انا محتاج دم</h5>  </div>
        <div id="register" class="col s12">
            <form class="col s12" action="" method="post"">
                <div class="form-container">
                    <div class="row">
                       
                        <div class="input-field col s12">
                            <input id="last_name" name="n.Fname" type="text" class="validate" style="text-align:right;">
                            <label class="right-align" for="first_name" style="font-family:'Myriad عربي';">الاسم الاول</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate" name="n.Lname" style="text-align:right">
                            <label class="right-align" for="last_name" style="font-family:'Myriad عربي';">الاسم الثانى  </label>
                        </div>
                        <br /><br />
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="last_name" type="text" class="validate" name="n.Email" style="text-align:right">
                                <label class="right-align" for="email" style="font-family:'Myriad عربي';"> مكان تواجد الحالة  </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email-confirm" type="tel" class="validate" name="n.Phone" style="text-align:right;">
                                <label class="right-align" for="phone" style="font-family:'Myriad عربي';">رقم التليفون </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label class="right-align" for="bloodId" style="font-family:'Myriad عربي';">نوع الدم</label><br /><br />
                                <select class="mdl-select__input" id="professsion" name="n.BID" style="text-align:right;">
                                    <option value="NULL">اختــــر </option>
                                    @foreach (var item in Model.BloodTypesResults)
                                    {
                                        <option value=@item.BID>@item.Type</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label class="right-align" for="city" style="font-family:'Myriad عربي';">المدينة </label><br /><br />
                                <select class="mdl-select__input" id="professsion" name="n.CID" style="text-align:right;">
                                    <option value="NULL"> اختــــر</option>
                                    @foreach (var item in Model.CitiesSelectAllResults)
                                    {
                                        <option value=@item.CID>@item.CityName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <center>
                            <button class="btn waves-effect waves-light red darken-4" type="submit" name="action" style="font-family:'Myriad عربي';">إرسال</button>
                        </center>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
