@model List<BloodBankITI.Models.Cities_SelectAll_Result>
@{
    ViewBag.Title = "EmergencyToDay";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<head>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<h2>EmergencyToDay</h2>

<select name="Donor.CID" id="CitiesID">
    @foreach (var item in Model)
    {
        <option value="0">Not Set</option>
        <option value=@item.CID>@item.CityName</option>
    }
</select>

<div id="hospital"></div>

<script>
        $('#CitiesID').change(function () {
            var CityID = $('#CitiesID').val();
            $.ajax({
                url: 'http://www.bloodservice.somee.com/Home/EmergencyToday/' + CityID,
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    WriteResponse(data);
                },
                error: function (e) {
                    alert(e.statusText);
                }
            });


        });

        function WriteResponse(data) {
            var result;
            
                result = "Hospital Name :    " + data.Name + "<br>Hospital Address :     " + data.Address + "<br>Hospital Phone :    " + data.Phone + "";
         
            $('#hospital').html(result);

        }

        </script>