@model String
@{
    ViewBag.Title = "FollowRequest";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h2>FollowRequest</h2>
    @Html.Raw(@Model.Replace('_', ':').Replace('&', '/').Replace('(', '<').Replace(')', '>'))

</div>

