@model String
@{
    ViewBag.Title = "FollowRequest";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>FollowRequest</h2>



@Html.Raw(@Model.Replace('_',':').Replace('&','/').Replace('(','<').Replace(')','>'))



