@model BloodBankITI.Models.Post
@{
    ViewBag.Title = "FollowRequest";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>FollowRequest</h2>



@Html.Raw(@Model.Post1.Replace('_', ':').Replace('&', '/').Replace('(', '<').Replace(')', '>').Replace('*', ','))



