
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="render">

    <h1 style="font-family:' Thabit', serif !important"> عن التبرع بالدم </h1>
    <ul>
     <li>
           <input type="checkbox" checked >
            <i></i>
            <h2> ماهو التبرع بالدم؟</h2>
            <p>التبرع بالدم هو سحب كمية من دم المتبرع تقدر بحوالي ( 450مل ) أي بنسبة ( 8% ) من دم الإنسان الطبيعي وهذه العملية تستغرق أقل من ربع ساعة وهي مهمة لتلبية الحاجة المستمرة للدم </p>
        </li>
        <li>
            <input type="checkbox" checked >
            <i></i>
            <h2>ليه بنتبرع؟</h2>
            <p>  عملاً بقوله تعالى: ( ومن أحياها فكأنما أحيا الناس جميعاً)
                في كل سنة يحتاج آلاف بل ملايين المرضى إلى عملية نقل الدم أو أحد مشتقاته
           </p>
        </li>
        <li>
            <input type="checkbox" checked >
            <i></i>
            <h2>فوائد التبرع بالدم</h2>
            <p>تنشيط الدورة الدموية, حيث يتم تنشيط نخاع العظم لإنتاج خلايا الدم المختلفة بعد التبرع بالدم </p>
            <p>التقليل من احتمال الإصابة بأمراض القلب وانسداد الشرايين لأن التبرع بالدم يقلل نسبة الحديد في الدم والتي ثبت علمياً أن زيادة نسبة الحديد تزيد من نسبة الإصابة من هذه الأمراض</p>
            <p>يتم التأكد عند التبرع بالدم من سلامة المتبرع بعد إجراء الكشف الطبي عليه من قبل الطبيب المختص </p>
            <p>الشعور بالراحة النفسية لما يقوم به المتبرع من عمل جليل لما فيه من أجر وثواب </p>
            <p>استخدام التبرع بالدم كوسيلة لعلاج بعض الأمراض </p>
        </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h2> تقدر تتبرع فين ؟</h2>
                <p>يمكن التبرع بالدم في بنوك الدم والمستشفيات والمراكز المتخصصة </p>
            </li>
        <li>
            <input type="checkbox" checked>
            <i></i>
            <h2> الحالات التي يمنع فيها التبرع بالدم؟ </h2>
            <p>الشخص الذي أجريت له عملية نقل دم أو أجريت له عملية جراحية لفترة أقل من أثنى عشرا شهرا </p>
            <p>الشخص المصاب لأحد الأمراض المعدية والتي ثبت أنها تنقل عن طريق نقل الدم الملوث بجرثومة المرض كالايدز أو التهاب الكبدي الفيروسي والزهري والملا ريا...الخ</p>
            <p> الشخص المصاب بأحد الأمراض المزمنة كالسرطان والقلب والصرع وكذلك الشخص المصاب بالسكري الذي يحتاج إلى الأنسولين في علاجه</p>
            <p>الشخص المصاب بأحد أمراض الدم كفقر الدم والثلاسيميا ...الخ, كذلك المصاب بأمراض الحساسية كالربو أو الحساسية من الأدوية</p>
        </li>


        </ul>

</div>