@model BloodBankITI.Models.donorinsertform
@{
    ViewBag.Title = "InsertPost";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4> إضافة تعليق </h4><hr />
        <form action="" method="POST">
            <input type="hidden" name="Post.Periodic" value=1 />
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="Post.Name" style="text-align:right">
                    <label class="right-align">الاسم   </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input  type="text" class="validate" name="Post.post1" style="text-align:right">
                    <label class="right-align">التعليق   </label>
                </div>
            </div>
            <div class="row" style="float:right;">
                <div class="input-field col s12">
                    <label class="mdl-select__label" style="margin-left:170px;">  إختــــر فصيلة الدم  </label><br />
                    <div class="mdl-select mdl-js-select mdl-select--floating-label">
                        <select name="Post.BID" class="mdl-select__input">
                            <option value="NULL">إختـــــر </option>
                            @foreach (var d in Model.BloodTypesResults)
                            {
                                <option value=@d.BID>@d.Type</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="number" class="validate" name="Post.Phone" style="text-align:right">
                    <label class="right-align">رقم الهاتف    </label>
                </div>
            </div>
        
            <div class="row" style="float:right;">
                <div class="input-field col s12">
                    <label class="mdl-select__label" style="margin-left:250px;">    المدينة  </label><br />
                    <div class="mdl-select mdl-js-select mdl-select--floating-label">
                        <select name="Post.CID" class="mdl-select__input">
                            <option value="NULL">إختـــــر </option>
                            @foreach (var d in Model.CitiesSelectAllResults)
                            {
                                <option value=@d.CID>@d.CityName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
         <br /><br /><br />
                <button class="btn waves-effect waves-light red darken-4" type="submit" name="action"> إضافة</button>        
        </form>
  </div>
<br />

