@model List<BloodBankITI.Models.Cities_SelectAll_Result>
    @{
        ViewBag.Title = "NgoRequest";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
    <link href="~/Content/materialize.css" rel="stylesheet" />

    <head>
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
        <!-- Material Design icon font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="~/Scripts/ngo.js"></script>

    </head>

    <div class="render">
        <div class="container white z-depth-2" style="height:inherit;">
            <div class="card-panel #b71c1c red darken-4"><h5 style="font-family: Myriad عربي;"> تسجيل الجمعيات الخيرية </h5>  </div>

            <div id="register" class="col s12">

                <form method="POST" action="NgoRequest">
                    <div class="form-container">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="first_name" type="text" class="validate" name="NGO.Name" style="text-align:right">
                                <label class="right-align">الاسم  </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="phone" type="number" class="validate" pattern="-?[0-9]*(\.[0-9]+)?" name="NGO.Phone" style="text-align:right;">
                                <label class="right-align" for="phone">رقم التليفون </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="address" type="text" class="validate" name="NGO.Address" style="text-align:right;">
                                <label class="right-align"> العنوان  </label>
                            </div>
                        </div>

                        <div class="row">
                            <label style="color:black; margin-right:20px;font-size:14px" for="CID"> المدينة </label>
                            <div class="input-field col s12">
                                <div dir="rtl">
                                    <select class="mdl-select__input" name="NGO.CID" id="CitiesID">
                                        <option value="NULL"> اختـــر </option>
                                        @foreach (var item in Model)
                                        {
                                            <option value=@item.CID>@item.CityName</option>

                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="Username" type="text" oninput="checkusername()" class="validate" name="NGO.UserName" style="text-align:right">
                                <label class="right-align" for="Username"> اسم المستخدم  </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="Password1" type="password" class="validate" name="NGO.Password" style="text-align:right">
                                <label class="right-align" for="Password"> كلمة المرور </label>
                            </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                    <input id="Password2" type="password" oninput="check()" class="validate" name="NGO.Password" style="text-align:right">
                                    <label class="right-align" for="Password"> تأكيد كلمة المرور </label>
                                </div>
                            </div>
                       
                        <center>
                            <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">ارسال</button>
                        </center>
                 </div>
                </form>
            </div>
        </div>
    </div>
    <script>

        function check() {
            if ($('#password2').val() != $('#password1').val()) {
                $('#PasswordMessage').text("كلمة المرور غير متطابقة");


            } else
                $('#PasswordMessage').text("كلمة المرور متطابقة");

        };


        function checkusername() {
            var username = $('#Username').val();
            if (username != "")
            {
            $.ajax({
                url: 'http://www.bloodservice.somee.com/Home/CheckUsername/' + username,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data == 1) {
                        $('#UsernameMessage').text("اسم المستخدم غير متاح");
                    } else {
                        $('#UsernameMessage').text("اسم المستخدم متاح");
                    }

                },
                error: function (e) {
                    alert(e.statusText);
                }
            });

        }
        };



    </script>
