@model List<BloodBankITI.Models.Cities_SelectAll_Result>
@{
    ViewBag.Title = "NgoRequest";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>NgoRequest</h2>

<h2>Donate</h2>
<form method="POST" action="NgoRequest">
    <div class="form-group">
        Name :
        <div class="col-md-10">
            <input type="text" name="NGO.Name" />

        </div>
    </div>
    <div class="form-group">
        Phone :
        <div class="col-md-10">
            <input type="text" name="NGO.Phone" />

        </div>
    </div>
    <div class="form-group">
        Address :
        <div class="col-md-10">
            <input type="text" name="NGO.Address" />
        </div>
    </div>



    <div class="form-group">
        City :
        <div class="col-md-10">

            <select name="NGO.CID" id="CitiesID">
                @foreach (var item in Model)
                {
                    <option value="0">Not Set</option>
                    <option value=@item.CID>@item.CityName</option>
                }
            </select>


        </div>
    </div>


    <input type="submit" value="Request" />
</form>
