
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="render">
    <h1> انت مين ؟؟؟</h1>
    <div id="historysecond">
        <div id="donor">
            <a href="/Home/Donate">
                <img src="~/img/DONOR.png" />
            </a>
        </div>
        <div id="ngo"> 
            <a href="/Home/NgoRequest">
                <img src="~/img/NGO.png" />
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>

