@model BloodBankITI.Models.donorpartner
@{
    ViewBag.Title = "selectPartner";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/materialize.css" rel="stylesheet" />
<head>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script></head>
<div class="render">
    <h4 style="text-align:right;">إختر من الشركاء</h4>
    <hr />
    <form action="" method="POST">
        <input type="hidden" value=@Model.donor.DID name="donor.DID" />
        <div class="row">
            <div class="input-field col s12">
                <div class="mdl-select mdl-js-select mdl-select--floating-label">
                </div>
                <div dir="rtl">
                    <select class="mdl-select__input" name="Donor.PAID" id="PartnerId">
                        <option value="0" selected="">إختـــــــــر</option>
                        @foreach (var item in Model.partnerSelectByCity)
                        {
                            <option value=@item.PAID>@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <button class="btn waves-effect waves-light red darken-4" type="submit"> إختر</button>
    </form>
</div>
<script>
    $('#PartnerId').change(function () {
        var CityID = $('#PartnerId').val();
        $.ajax({
            url: 'http://www.bloodservice.somee.com/Home/ParterByID/' + PID,
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                WriteResponse(data);
            },
            error: function (e) {
                alert(e.statusText);
            }
        });


    });

    function WriteResponse(data) {
        var result;
        $.each(data, function (index, partners) {
            result += "<label> Name : partners.Name <br> Address: partners.address <br> </label>";
        });
        $('#PartnerId').html(result);

    }
</script>



