@model BloodBankITI.Models.donorpartner
@{
    ViewBag.Title = "selectPartner";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4 style="text-align:right;">إختر من الشركاء</h4>
    <hr />
    <form action="" method="POST">
        <input type="hidden" value=@Model.donor.DID name="donor.DID" />
        <div class="row">
            <div class="input-field col s12">
                <div class="mdl-select mdl-js-select mdl-select--floating-label">
                </div>
                <div dir="rtl">
                    <select class="mdl-select__input" name="Donor.PAID">
                        <option value="0" selected="">إختـــــــــر</option>
                        @foreach (var item in Model.partnerSelectByCity)
                        {
                            <option value=@item.PAID>@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <button class="btn waves-effect waves-light red darken-4" type="submit"> إختر</button>
    </form>
</div>