@model BloodBankITI.Models.donorpartner
@{
    ViewBag.Title = "selectPartner";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>selectPartner</h2>
<br /> <br /> <br /> <br />
<form action="" method="POST">
   
    <input type="hidden" value=@Model.donor.DID name="donor.DID" />
    
    <select name="Donor.PAID">
        <option value="0" selected=""> Not Set</option>
        @foreach (var item in Model.partnerSelectByCity)
        {
            <option value=@item.PAID >@item.Name</option>
        }
    </select>

    <input type="submit" value="Select"/>

</form>


