
@{
    ViewBag.Title = "team-members";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!-- Compiled and minified CSS -->
<link href="~/Content/materialize.css" rel="stylesheet" />
<!-- Compiled and minified JavaScript -->
@*<script src="~/Scripts/materialize/materialize.min.js"></script>*@
<br />


<!-- Header -->

    <header id="top" class="header">
        
    </header>

<div class="render">
    <h4>أعضاء الفريق</h4>
    <table>
        <tr>
            <td><img src="" class="img-circle" /><p>Amaal Gamal</p></td>
            <td><img src="" class="img-circle" /><p>Eman Omar</p></td>
            <td><img src="" class="img-circle" /><p>Ghada Alsayed</p></td>
        </tr>
        <tr>
            <td><img src="" class="img-circle" /><p>Hagar Abouabdo</p></td>
            <td><img src="" class="img-circle" /><p>Mohamed Magdy<br />قائد الفريق</p></td>
            <td><img src="" class="img-circle" /><p>Radwa Abdellah</p></td>
        </tr>
    </table>
</div>
   
                      