@model BloodBankITI.Models.NgoUpdate
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />


<div class="render">
    <div class="container white z-depth-2" style="height:auto;">
        <div class="card-panel #b71c1c red darken-4"><h5 style="color:aliceblue;text-align:center;font-family:'Myriad عربي';">  تعديل</h5>  </div>
        <form action="" method="post" novalidate="novalidate">
            <div class="form-group">
                <input type="hidden" name="ngo.NID" value=@Model.ngo.NID>
            </div>
            @*<div class="form-group">
                    @Html.DisplayNameFor(p => p.ngo.Name)

                    <input type="text" name="ngo.Name" value=@Model.ngo.Name>
                </div>*@
            <div class="form-container">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="last_name" type="text" class="validate" name="ngo.Name" value=@Model.ngo.Name style="text-align:left">
                        <label class="right-align" for="last_name">الاسم   </label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="email-confirm" type="tel" value=@Model.ngo.Phone class="validate" name="ngo.Phone" style="text-align:left;">
                        <label class="right-align" for="phone">رقم التليفون </label>
                    </div>
                </div>

                <div class="row" style="float:right;">
                    <div class="input-field col s12">
                        <label class="mdl-select__label" for="professsion" style="margin-left:250px;">  المدينة </label><br />
                        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                            <select name="ngo.CID" id="CitiesID" class="mdl-select__input">
                                <option value="0">Not Set</option>
                                @foreach (var item in Model.CitiesSelectAllResults)
                                {
                                    if (item.CID == Model.ngo.CID)
                                    {
                                        <option value=@item.CID selected="selected">@item.CityName</option>
                                    }
                                    else
                                    {
                                        <option value=@item.CID>@item.CityName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="last_name" type="text" class="validate" name="ngo.Address" value=@Model.ngo.Address style="text-align:left">
                        <label class="right-align" for="last_name">العنوان    </label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value=@Model.ngo.Username id="disabled" type="text" name="ngo.UserName" style="text-align:left">
                        <input id="Username" type="hidden" value=@Model.ngo.Username class="validate" name="ngo.UserName" style="text-align: left">
                        <label> اسم المستخدم</label>

                    </div>

                </div>


                @*<div class="input-field col s12">
                    <input disabled value=@Model.Donor.DID id="disabled" type="text" name="Donor.DID" style="text-align:left">
                    <input value=@Model.Donor.DID type="hidden" name="Donor.DID" style="text-align:left">
                    <label>رقم المتبرع</label>
                </div>*@




           
                <div class="input-field col s12">
                    <input type="password" id="password1" value=@Model.ngo.Password class="validate" name="ngo.Password" style="text-align: left">
                    <label class="right-align" for="Password"> كلمة المرور </label>
                </div>
                <div class="input-field col s12">
                    <input type="password" id="password2" value=@Model.ngo.Password class="validate" name="ngo.Password" oninput="check()" style="text-align: left"><label id="PasswordMessage"></label>
                    <label class="right-align" for="Password"> تأكيد كلمة المرور </label>
                </div>
            </div>


            <center>
                <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">تعديل</button>
            </center><br />
        </form>
    </div>
</div>

<script>
    
    function check() {
        if ($('#password2').val() != $('#password1').val()) {
            $('#PasswordMessage').text("Doesn't Match");


        } else
            $('#PasswordMessage').text("done");

    };
</script>