@model BloodBankService.Models.NGO_selectByID_Result
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

Name : @Html.DisplayFor(N => N.Name)
Name : @Html.DisplayFor(N => N.Address)
Name : @Html.DisplayFor(N => N.Phone)
Name : @Html.DisplayFor(N => N.CityName)

