@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Error";
}

@*<h1 class="text-danger">Error</h1>*@
<div class="render">
    <img src="~/img/error .jpg" style="margin-top:-119px; width:700px; height:500px;" />
    <div style="margin-bottom:253px;"></div>
</div>
