@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<br /><br /><br />

<h1 class="text-danger">خطأ</h1>
<h2 class="text-danger">حدث خطأ ما يرجى اعادة المحاولة فى وقت لاحق</h2>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />