

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br/>
@Html.ActionLink("View Profile", "ViewProfile")
<br />

@Html.ActionLink("View Requests", "Requests")
